name: Ubuntu 20.04
on: 
  workflow_dispatch:
    inputs:
      code:
        description: 'Chrome Remote Desktop Code | Debian Linux'
        required: true
      pin:
        description: 'PIN (6 Digits)'
        required: true
      time:
        description: 'VM Time (Seconds, Maximum 72 hours)'
        required: true
        default: "21600"
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Create User
      run: sudo useradd -m CRDUser && sudo adduser CRDUser sudo && echo 'CRDUser:CRDUser' | sudo chpasswd
    - name: Doanload & Install
      run: | 
        echo "Update: APT"
        sudo apt update
        echo "Install: Ubuntu Desktop"
        sudo apt install ubuntu-desktop
        echo "Download: Chrome"
        wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        echo "Install: Chrome"
        sudo dpkg --install google-chrome-stable_current_amd64.deb
        echo "Install: Xbase Clients"
        sudo apt-get install xbase-clients python3-psutil xvfb -y
        echo "Install: Chrome Remote Desktop"
        wget https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
        sudo dpkg --install chrome-remote-desktop_current_amd64.deb
        echo "Check & Fix Files"
        sudo apt install --assume-yes --fix-broken
    - name: Start Chrome Remote Desktop
      run: ${{ github.event.inputs.code }} -pin=${{ github.event.inputs.pin }}
    - name: Done! You can see the machine in list now.
      run: echo OK
    - name: For keep VM alive (1)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (2)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (3)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (4)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (5)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (6)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (7)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (8)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (9)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (10)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (11)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
    - name: For keep VM alive (12)
      run: | 
        let vmtime=${{ github.event.inputs.time }}/12
        sleep $vmtime
        echo OK
